body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
body {
	font:12px/1.5 \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
	/*font-family:tahoma,arial,sans-serif;*/
	/*font:12px/1.5 tahoma,arial,sans-serif;*/
	/*background-image:url(../img/u1/blue2white.png);*/
	/*background:#f6f8f8;*/
	/*background-color:#50b7dc;*/
	background-color:#eeeeee;
	/*background-image:url(../img/u1/blue2white5.png);
	background-repeat:repeat-x;*/
	/*background-image: url(../img/u1/w1440boxbg.png);
	background-repeat: repeat-x;
	background-position:0 500px;*/
}
input, select,checkbox{
	padding:5px;
	font:12px \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
}
.shadow{
	-webkit-box-shadow: 5px 5px 0 0 rgba(0,0,0,.1);
	box-shadow: 5px 5px 0 0 rgba(0,0,0,.1);
	margin-bottom:5px !important;
}

.u1background{
	color:#ffffff;
	background: #1484e6 url(../img/u1/w144boxbg.png) repeat;
	background-position: left top;
}

.selectedobject{
	background-color:#70c7e4;
}
.pulldowndiv{
	background-color:#ffffff;
	color:#000000;
	float:left;
	position:absolute;
	overflow:auto;
	border:1px solid #000000;
	height:150px;
	padding-left:5px;
	display:none;
}
.u1list{
	list-style-type:none;
}
.u1list li.hovered{
	background-color:#50b7dc;
}
.u1list2 li{
	list-style-type:none;
	float:left;
	position: relative;
	color:#cccccc;
	cursor:pointer;
	font-size:16px;
	border-bottom:2px solid #50b7dc;
	line-height:26px;
	margin-bottom:20px;
}
.u1list2 li a{
	position: relative;
	float:left;
	padding: 5px 40px;
}
.u1list2 li a:hover{
	color:#50b7dc;
}
.u1list2 li.selected a:after{
	content: '';
	position: absolute;
	top: 37px;
	left: 52px;
	width: 0;
	height: 0;
	border-color:#50b7dc transparent transparent transparent;
	border-style: solid;
	border-width: 20px;
}
.u1list2 li.selected{
	color:#50b7dc;
	cursor:default;
}
.u1list2 li.selected:after{
	content: '';
	position: absolute;
	top: 34px;
	left: 52px;
	width: 0;
	height: 0;
	border-color:#ffffff transparent transparent transparent;
	border-style: solid;
	border-width: 20px;
}
.headline{
	width:auto;
	background-color:#50b7dc;
	height:16px;
}
.footline{
	width:auto;
	background-color:#50b7dc;
	height:10px;
}
.container {
    width: 960px;  
    margin: 0 auto; 
    position: relative;
    content: "";
	display: table;
}
.header{
	background: url(../img/u1/header4f.png);
	background-position: center;
	background-repeat: no-repeat;
	height:150px;
	position:relative;
	margin-top:2px;
}
.topbanner {  
    background:#252525;
    width:auto;
    height: 16px;
    padding:5px;
    border-bottom:3px solid #2980b9;
}
.logo{
	float:left;
	padding:2px;
	color:#ffffff;
}
.title{
	float:left;
	padding-top:40px;
	padding-bottom:30px;
	color:#ffffff;
}
.navigation-menu-outter{
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 10px 10px 0 0;
	border-right: 1px solid rgba(2, 2, 2, 0.28);
	border-left: 1px solid rgba(2, 2, 2, 0.28);
	border-top: 1px solid rgba(250, 250, 250, 0.27);
	-webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	-webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
	font-size: 12px;
}

.toolbar{
	float:right;
	margin-top:2px;
	position: relative;
	min-width:500px;
}
.toolbar ul{
	list-style:none;
}
.toolbar ul li{
	color:white;
	float:right;
	padding-right:10px;
	margin-left:20px;
}
.toolbar ul li a{
	text-decoration: none;
	color: inherit;
}
.navigation-menu{
	float:right;
	margin-top:35px;
	/*background:#50b7dc;*/
	color:#ffffff;
	border-radius:5px;
	/*border:2px solid #ffffff;*/
	z-index:8;
	position: relative;
	font-size: 13px;
}

.coloroutline{
	background: url(../img/u1/border.png);
	border-radius: 5px;
	border: 0px solid #fff;
	padding: 5px;
	display: table;
	margin: 0;
	width: 100%;
}
.whitecontentinside{
	background-color: #ffffff;
	padding:5px;
}

.sidebar{
	float:left;
	Width:200px;
	height:500PX;
	/*background: url(../img/u1/grey2white.png);
	background-repeat:repeat-x;*/
	padding-top:25px;
	z-index:7;
	position: relative;
	
}
.insidecontent{
	float:right;
	width:748px;
	margin:5px;
	z-index:6;
	position: relative;
	border:1px solid #cccccc;
	border-radius:0 0 5px 0;
}
.insidecontent-extend{
	float:right;
	width:950px;
	margin:5px;
	z-index:6;
	position: relative;
	border:1px solid #cccccc;
	border-radius:0 0 8px 8px !important;
	min-height:500px;
}

.contentbox{
	width:auto;
	padding:10px 10px 10px 10px;
	min-height:300px;
}

.u1title1 {
	background: url(../img/u1/bar.png);
	background-position: center;
	background-repeat: no-repeat;
	color:#ffffff;
	border-bottom:1px solid #cccccc;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	/*display: table;
	width:950px;*/
}

.leftmenu li{
	margin-top:-15px;
	height:40px;
	list-style:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	margin-left:-10px;
	margin-bottom:2px;
	font-size:16px;
	color:#888888;
	font-weight:bold;
}
.arrow-red{
	background:url(../img/u1/leftmenulabel-red.png);
	background-repeat:no-repeat;
}
.arrow-orange{
	background:url(../img/u1/leftmenulabel-orange.png);
	background-repeat:no-repeat;
}
.arrow-yellow{
	background:url(../img/u1/leftmenulabel-yellow.png);
	background-repeat:no-repeat;
}
.arrow-green{
	background:url(../img/u1/leftmenulabel-green.png);
	background-repeat:no-repeat;
}
.arrow-blue{
	background:url(../img/u1/leftmenulabel-blue.png);
	background-repeat:no-repeat;
}
.arrow-purple{
	background:url(../img/u1/leftmenulabel-purple.png);
	background-repeat:no-repeat;
}
.arrow-pink{
	background:url(../img/u1/leftmenulabel-pink.png);
	background-repeat:no-repeat;
}
.arrow-grey{
	background:url(../img/u1/leftmenulabel-grey.png);
	background-repeat:no-repeat;
}

.leftmenu a{
	text-decoration: none;
	color: inherit;
}

.selectedli{
	color:#ffffff !important;
	margin-right:-20px;
	padding-left:25px !important;
}

.leftmenu li:hover{
	padding-left:30px;
	color:#50b7dc;
	margin-right:-20px;
}

.content{
	z-index:6;
	position: relative;
	min-height:450px;
}

.maincontent{
	width:960px;
	background-color: #ffffff;
	-webkit-box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
	box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
	padding: 0 0;
	border-radius: 0 0 10px 10px;
	position: relative;
	display: table;
	margin-top:-50px;
	border-top:none;
}

.tobeslide{
	/*float:right;
	margin-right:-50px;
	opacity:0;*/
	margin-left-:50px;
	opacity:0;
}


.footer {
	background: url(../img/u1/dark-grey-tile.png);
	/*background: url(../img/u1/w1440boxbg.png);*/
	margin-top: -20px;
	padding-top: 40px;
	padding-bottom: 20px;
	color:#777;
	height:100px;
}
.ui-widget{
	font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
}

.ui-icon, .ui-icon {
	background-image: url(excite-bike/images/ui-icons_ffffff_256x240.png) !important;
}

.ui-state-default, .ui-state-default{
	background: #f9f9f9 url(../img/u1/w144boxbg.png) repeat-x !important;
	color: #ffffff;
	font-weight:normal;
}

.ui-widget-content{
	background-color:#ffffff;
}

.ui-widget-header{
	background: #f9f9f9 url(../img/u1/w144boxbg.png) repeat-x;
	color: #ffffff;
}

.ui-menu { 
    overflow: visible !important;
    z-index:8 !important;
    position:relative;
    background:none;
    /*white-space:nowrap;*/
}
.ui-menu .ui-menu {
    overflow: visible !important;
    background-color: rgba(80,183, 220, 0.8);
    border:1px solid #ffffff;
}
.ui-menu > li {
		float: left;
    display: block;
    width: auto !important;
    margin: 5px 5px !important;
    padding: 0 0 !important;
}
.ui-menu > li > a { 
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
    color:#ffffff;
}

/*.ui-menu > li > a:hover , .ui-menu .ui-state-active{
	margin:0 !important;
	margin-bottom:-2px !important;
	border:0 !important; 
	border-bottom:2px solid #ffffff !important;
	background:none !important;
}*/

.ui-menu ul li {
    display:block;
    float:none;
}
.ui-menu ul li ul {
    left:120px !important;
    width:100%;
}
.ui-menu ul li ul li {
    width:auto;
}
.ui-menu ul li ul li a {
    float:left;
}
.ui-menu .ui-menu-icon { 
    margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
    float: left;
    display: block;
}
.flat-table {
		margin: 5px;
		border-collapse:collapse;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
	}
	.flat-table th {
		-webkit-font-smoothing: antialiased;
		padding: 1em;
		color: rgba(0,0,0,0.45);
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.3em;
		font-weight:bold;
	}
	.flat-table td {
		color: #f7f7f7;
		padding: 0.7em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.2em;
	}
	.flat-table th.u1headline {
		padding: 1em 0 1em 0;
		font-size: 1em;
	}
	.flat-table tr {
		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
	.flat-table tfoot tr td a{
		text-decoration: none;
		color: rgba(0,0,0,0.45);
	}
	.flat-table-1 {
		width:720px; 
		/*background: url(../img/u1/w1440boxbg.png);*/
		background-color:#50b7dc;
	}
	.flat-table-1 tr:hover {
		background: rgba(0,0,0,0.19);
	}
	.flat-table-2 tr:hover {
		background: rgba(0,0,0,0.1);
	}
	.flat-table-2 {
		background: #f06060;
	}
	.flat-table-3 {
		background: #52be7f;
	}
	.flat-table-3 tr:hover {
		background: rgba(0,0,0,0.1);
	}
	.flat-table-4 {
		width:720px; 
		background: #ffffff;
	}
	.flat-table-4 tbody tr:hover {
		background: #50b7dc;
		cursor:pointer;
	}
	.flat-table-4 td {
		color: rgba(0,0,0,0.8) !important;
		padding: 0.7em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.2em;
	}
	.widetable{
		width:930px !important;
		max-width:930; important;
	}
	.fixedtable{
		table-layout:fixed;
	}
	.breakrow{
		word-break: break-all;
	}
	.width600{
		width:600px;
		margin:0;
		padding:0;
	}
	.width750{
		width:750px;
		margin:0;
		padding:0;
	}

.detailtable{
	margin:10px;
	padding:0px;
	width:98%;
	font-size:12px;
	line-height:38px;
}
.detailtable th{
	border-color: transparent transparent #eeeeee transparent;
	border-style: solid;
	border-width: 1px;
	color:#50b7dc;
	font-weight:normal;
	align:right;
	font-size:10px;
	padding:0px;
	line-height:12px;
	text-align:right;
}
.right10margin{
	margin-right:10px;
}
.right20margin{
	margin-right:20px;
}
.text{
	font-size:1.5em;
	/*font-weight:bold;*/
	border-bottom:1px solid #50b7dc;
}
.fixtext{
	font-size:1.5em;
}
.non-highlight{
	color:#888888;
	text-align:right;
	white-space:nowrap;
}
.non-highlight-content{
	color:#888888;
	white-space:nowrap;
}
.highlight{
	color:#000000;
}

.hidden{
	display:none;
}
	
.maskerlayer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	z-index:20;
}

.loader_container {
text-align:center;
position:fixed;
_position:  absolute;
top:200px;
_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+200:document.body.scrollTop+(document.body.clientHeight -this.clientHeight));
left:300;
width:100%;
z-index:100;
}
 
.loader {
font-size:12px;
background-color:#ffffff;
display:block;
width:240px;
border:1px solid #ffffff;
text-align:left;
margin:0 auto;
padding:5px 0;
opacity:1 !important;
border:3px solid #50b7dc;
}
 
.loader div {
margin: 4px 0;
}

.messagebox{
	background: url(../img/u1/w144boxbg.png);
	position: fixed; 
	width: 200px; 
	height: auto;
	right: 200px; 
	top: 100px; 
	padding: 10px;
	border:2px solid #ffffff;
	color:#ffffff;
	z-index:10;
	border-radius: 5px 5px 5px 5px;
}
.messagecontent{
	word-wrap:break-word;
}
.messagehl{
	color:red;
	font-size:16px;
	font-weight:bold;
}
.uparrowdiv{
	position: absolute; 
	width:200px;
	height: auto;
	top: 100px; 
	z-index:8;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #cccccc;
}
.uparrowdiv:after{
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	width: 0;
	height: 0;
	border-color: transparent transparent #cccccc transparent;
	border-style: solid;
	border-width: 10px;
}

.uprightarrowdiv{
	position: absolute; 
	width:915px;
	height: auto;
	z-index:8;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #cccccc;
}
.uprightarrowdiv:after{
	content: '';
	position: absolute;
	top: -20px;
	left: 860px;
	width: 0;
	height: 0;
	border-color: transparent transparent #cccccc transparent;
	border-style: solid;
	border-width: 10px;
}

.uprightarrowdiv2{
	position: absolute; 
	width:915px;
	height: auto;
	z-index:8;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #cccccc;
}
.uprightarrowdiv2:after{
	content: '';
	position: absolute;
	top: -20px;
	left: 750px;
	width: 0;
	height: 0;
	border-color: transparent transparent #cccccc transparent;
	border-style: solid;
	border-width: 10px;
}


.fullpopup{
	position: absolute;
	width:900px;
	height: auto;
	min-height:400px;
	z-index:8;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #cccccc;
}

.layer8{
	position: absolute;
	z-index:8;
	background-color:#ffffff;
	color:#000000;
	border:2px solid #cccccc;
}

.circlelink{
	text-decoration: none;
	background-color:#50b7dc;
	color:#000000;
	border-radius:3px;
	padding:3px;
	margin:1px;
}

.metro66containerdiv{
	margin-top:5px;
	position:relative;
	height:350px;
	padding:2px;
}
.metrobigsize{
	font-size:28px;
	font-weight:bold;
}
.metronavdiv{
	text-align:center;
}
.metropagenavlink{
	margin:10px;
	text-decoration: none;
	color:#50b7dc;
	cursor:pointer;
	font-size:16px;
}
.metropagenavcurrent{
	color:#000000;
	font-size:20px;
	margin:10px;
}
.navtext{
	color:rgba(0,0,0,0.4);
	font-size:16px;
	margin:8px;
	font-weight:bold;
}
.navcurrent{
	font-size:20px;
}
.navlink{
	color:#50b7dc !important;
	font-size:16px;
	margin:8px;
	font-weight:bold;
	cursor:pointer;
}
.metroselectable:hover{
/*background-color:#000000 !important;*/
background: #1484e6 url(../img/u1/w144boxbg.png) repeat;
/*font-weight:bold;*/
cursor:pointer;
}
.metrounselectable{
	border:1px solid #50b7dc !important;
	color:#50b7dc !important;
	background-color:#ffffff !important;
	background-image:url(../img/u1/selected.png);
	background-repeat:no-repeat;
	background-position: right bottom;
}
.bgbackgound{
	background-color:#50b7dc;
	border:1px solid #50b7dc;
	color:#ffffff !important;
}
.bgcolorborder{
	border:1px solid #50b7dc;
}
.bgcolor{
	color:#50b7dc;
}

/*.eneityblocktable{
	border-spacing: 10px;
}

.eneityblocktable tr td{
	padding:5px;
	width:100px;
	line-height:1.2em;
	color:#ffffff;
	background-color:#50b7dc;
	text-align:right;
}*/
.entityblockContainer{
	
}
.entityblock{
	position:relative;
	float:left;
	/*width:120px;
	height:60px;*/
	padding:1px;
	margin:5px;
	border:1px solid #50b7dc;
	color:#50b7dc;
	background-color:#ffffff;
	font-size:12px;
	line-height:14px !important;
	cursor:pointer;
}
.u7metrostyle .s{
color:#4095b3;
}
.entityblockedit:hover{
	background-image:url(../img/u1/remove.png);
	background-repeat:no-repeat;
	background-position: center center;
	cursor:pointer;
}
.bluehighlight{
	color:#50b7dc;
	font-size:24px;
	font-weight:bold;
	padding:0 10px;
}
.backbtn{
	position:fixed;
	opacity:0.2;
	z-index:7;
	top:400px;
}
.backbtn:hover{
	opacity:1;
}
.commandline{
	float:right;
	height:auto;
	width:680px;
}
.commandline button, .commandline input, .commandline select, .commandline textarea{
	float:right;
	margin:0 10px 0 0;
}
.timelinetable{
	margin:10px;
	padding:0px;
	width:98%;
	font-size:14px;
	color:#50b7dc;
}
.timelinetable tbody td.time{
	vertical-align: top;
	align:right;
}
.timelinetable tbody td.icon{
	width:32px;
	height:32px;
	vertical-align: top;
}
.timelinetable tbody td.line{
	width:32px;
	min-height:32px;
	background-image: url(../img/u1/line.png);
	background-repeat: repeat-y;
	background-position:14px 0;
}
.timelinetable tbody td.remark{
	padding:5px 5px 5px 10px;
	vertical-align: top;
}
.timelabel{
	padding:5px;
	border:0;
	border-spacing:0;
}
.leftarrowdiv{
	position: relative;
	display: -webkit-inline-box;
	padding:10px;
	background-color:#50b7dc;
	color:#ffffff;
	max-width:500px;
	border-radius:5px;
}
.leftarrowdiv:after{
	content: '';
	position: absolute;
	top: 5px;
	left: -18px;
	border-color:transparent #50b7dc transparent transparent;
	border-style: solid;
	border-width: 10px;
}
.copybtn{
	float:right;
	margin:2px;
}
.u1upload{
	
}
.u1upload button{
	color:red;
}
.u1upload input{
	color:red;
}
.u1metroicon{
	position:relative;
	width:150px;
	height:150px;
	float:left;
	color:#ffffff;
	/*background-color:#50b7dc;*/
	background: #50b7dc url(../img/u1/w1440boxbg.png) repeat;
}
.u1metroicon span{
	float:right;
	text-align:right;
}
.u1metroicon font{
	font-size:7em;
}
.f4em{
	font-size:4em !important;
	line-height:50px !important;
}
.leftbottom5margin{
	margin:0 0 5px 5px;
}
.bottom5margin{
	margin:0 0 5px 0;
}
.autooverflow{
	overflow:auto;
}
.uparrowpassword{
	position: absolute;
	width: auto;
	height: auto;
	top: 20px;
	z-index: 9;
	background-color: #50b7dc;
	color: #000000;
	border: 2px solid #ffffff;
	padding:10px;
}
.uparrowpassword:after{
	content: '';
	position: absolute;
	top: -20px;
	left: 20px;
	width: 0;
	height: 0;
	border-color: transparent transparent #ffffff transparent;
	border-style: solid;
	border-width: 10px;
}
.redlink{
	color:red;
	cursor:pointer;
}

.ui-spinner-input{
	margin:0 !important;
	padding:0 !important
}
.ticked{
	background-image: url(../img/u1/selected.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
@media print {   
	.noprint {    
		display: none    
	}
}   